<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sala do Futuro{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Início</a></li>

                {% if user.groups.filter.name == "Aluno" %}
                    <li><a href="{% url 'aluno' %}">Painel do Aluno</a></li>
                {% elif user.groups.filter.name == "Professor" %}
                    <li><a href="{% url 'professor' %}">Painel do Professor</a></li>
                {% elif user.groups.filter.name == "Secretaria" %}
                    <li><a href="{% url 'secretaria' %}">Painel da Secretaria</a></li>
                {% elif user.groups.filter.name == "Coordenacao" %}
                    <li><a href="{% url 'coordenacao' %}">Painel da Coordenação</a></li>
                {% elif user.groups.filter.name == "Direcao" %}
                    <li><a href="{% url 'direcao' %}">Painel da Direção</a></li>
                {% endif %}

                <li><a href="{% url 'logout' %}">Sair</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Entrar</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
