<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel da Secretaria</title>
</head>
<body>
    <h1 style="text-align: center;">📋 Painel da Secretaria</h1>
    <ul style="list-style-type: none; text-align: center;"">
        <li><a href="{% url 'cadastrar_aluno' %}">Cadastrar Aluno</a></li>
        <br>
        <hr>
        <li><a href="{% url 'listar_alunos' %}">Listar Alunos</a></li>
        <br>
        <hr>
        <li><a href="{% url 'cadastrar_professor' %}">Cadastrar Professor</a></li>
        <br>
        <hr>
        <li><a href="{% url 'listar_professores' %}">Listar Professores</a></li>
        <br>
        <hr>
    </ul>

    <p><a href="{% url 'logout' %}">Sair</a></p>
</body>
</html>
