{% extends 'base.html' %}

{% block title %}
Painel da Secretaria
{% endblock %}

{% block content %}
<h1 style="text-align: center;">Painel da Secretaria</h1>

<ul style="list-style-type: none; padding: 0; margin: 0;"> 
    <li><label><a href="{% url 'cadastrar_aluno' %}">Cadastrar Aluno</a></label></li>
    <li><label><a href="{% url 'listar_alunos' %}">Listar Alunos</a></label></li>
    <li><label><a href="{% url 'cadastrar_professor' %}">Cadastrar Professor</a></label></li>
    <li><label><a href="{% url 'listar_professores' %}">Listar Professores</a></label></li>
</ul>
{% endblock %}
